# Arquivos de compilação
bin/
target/

# Arquivos de configuração
*.iml
.idea/

# Arquivos de build
build/
out/

# Logs e arquivos temporários
log/
temp/
*.log

# Arquivos de dependência Maven
.idea_modules/
*.ipr
*.iws

# Outros
.DS_Store
